!!! 5
html(lang="en")
  head
    title Checkers
    link(rel="stylesheet", href="/static/css/style.css", type="text/css")
    link(rel="stylesheet", href="/static/css/checkers.css", type="text/css")
  body
    .wrapper
      .container_flex
        .box
          table.scores
            tr
              th Player
              th Wins
              th Losses
              th Draws
            tr
              td You
              td#player_wins= score.wins
              td#player_losses= score.losses
              td#player_draws= score.ties
            tr
              td AI
              td#ai_wins= score.losses
              td#ai_losses= score.wins
              td#ai_draws= score.ties
      .container_flex
        .board_layout
          include board
      .container_flex
        h1.turn It's your turn
        form(action="/api/new-game" method="POST")
          h3 Restart the game?
          .container
            input#first_player(type="radio", value="first", name="player_choice", checked)
            label(for="first_player") Play with starting move
          .container
            input#second_player(type="radio", value="second" name="player_choice")
            label(for="second_player") Play with AI starting
          input(type="submit", value="Restart")
    script(src="https://cdn.socket.io/3.1.3/socket.io.min.js" integrity="sha384-cPwlPLvBTa3sKAgddT6krw0cJat7egBga3DJepJyrLl4Q9/5WLra3rrnMcyTyOnh" crossorigin="anonymous")
    script(src="/static/js/checkers.js")
